script(src='/static/assets/js/core/jquery.min.js')
script(src='/static/assets/js/core/popper.min.js')
script(src='/static/assets/js/core/bootstrap.min.js')
script(src='/static/assets/js/plugins/perfect-scrollbar.jquery.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQjIbDMinn0SrC15DEoNyg_nIW6iV3xiA')
script(src='/static/assets/js/plugins/chartjs.min.js')
script(src='/static/assets/js/plugins/bootstrap-notify.js')
script(src='/static/assets/js/plugins/bootstrap-datepicker.js')
script(src='/static/assets/js/paper-dashboard.min.js?v=2.0.0')
script(src='/static/assets/demo/demo.js')
script(src='/static/assets/js/custom/common.js')