div.sidebar(data-color='white' data-active-color='success')
    div.logo
        a.simple-text.logo-mini(href='/')
            div.logo-image-small
                img(src='/static/assets/img/logo-small.png')
        a.simple-text.logo-normal HOME
    div.sidebar-wrapper
        ul.nav
            li(name='test')
                a(href='/test')
                    i.nc-icon.nc-diamond
                    p Holland 검사
            //li(name='achieving')
            //    a(href='/achieving')
            //        i.nc-icon.nc-spaceship
            //        p 달성
            //li(name='member')
            //    a(href='/member')
            //        i.nc-icon.nc-single-02
            //        p 회원관리

